src/main/app/maven-project-timt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <spring:beans>
        <spring:bean id="DerbyBean" name="DerbyDataSource" class="com.mulesoft.training.Database"/>
    </spring:beans>
    <db:derby-config name="Derby_Connection" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration"/>
    <jms:activemq-connector name="Active_MQ" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ"/>
    <jms:activemq-connector name="Active_MQ1" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ"/>
    <flow name="maven-project-timtFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="MavenFlow"/>
        <set-payload value="#[&quot;Hello World&quot;]" doc:name="Set Payload"/>
    </flow>
    <flow name="RetrieveFlights">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" doc:name="HTTP"/>
        <db:select config-ref="Derby_Connection" doc:name="QueryFlights">
            <db:parameterized-query><![CDATA[Select * FROM Flights]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-property propertyName="#[&quot;Content-Type&quot;]" value="#[&quot;application/json&quot;]" doc:name="Set Json Header"/>
        <jms:outbound-endpoint queue="Derby.Flights" connector-ref="Active_MQ" doc:name="JMS-Send to Queue Derby-Flights"/>
    </flow>
    <flow name="LogFlights">
        <jms:inbound-endpoint queue="Derby.Flights" connector-ref="Active_MQ1" doc:name="JMS"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
